// Cores padrões do projeto
$primary-color: #B75B00;
$secondary-color: #3D845B;
$tertiary-color: #75BF66;

$primary-color-shadow: #a25100;
$secondary-color-shadow: #35724e;
$tertiary-color-shadow: #63a457;



$black-color: #000000;
$white-color: #FFFFFF;

$primary-font-color: #0f0f0f;
$secondary-font-color: #e0e0e0;

$darkest-background-color: linear-gradient(167.53deg, rgba(117, 191, 102, 0.43) 56.22%, rgba(61, 132, 91, 0.43) 99.61%);

// tamanhos máximos de tela
$max-mobile: 600px;
$max-tablet: 900px;
$max-desktop: 1200px;

// tamanhos mínimos de tela
$min-mobile: 320px;
$min-tablet: 600px;
$min-desktop: 900px;

// border
$primary-border-radius: 10px;