.technicalSheetCard{
  border-radius: 16px;
  border: 2px solid #e0e0e0;
  width: 100vw;
  max-width: 360px;
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #272727;
}

.technicalSheetCard:hover {
  border-color: #bdbdbd;
  background-color: #191919;
  cursor: pointer;
}